<div class="left_box">
  <h3 style="text-align:center;">Events created:</h3>
  <% @events.each do |event| %>
    <%= render 'event_created', event: event %>
  <% end %>
</div>
<div class="right_box">
  <h3 style="text-align:center;">Invitations received:</h3>
</div>
