@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$pinky-white: #fcebff;
$basic_purple: #733e91;
$opacity-purple: #410066;
$medium_purple: #be65f2;
$dark-purple: #261c27;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background: image_url('crowd.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  ul {
    display: inline-block;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $opacity-purple;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $basic_purple;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $dark-purple;
}


/* header */

header {
  background-color: $dark-purple !important;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white !important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $pinky-white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $medium_purple;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #be65f2;
  width: 100%;
  margin-bottom: 15px;
  border-color: $dark-purple !important;
  //@include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: $pinky-white;
  opacity: 0.5;
  @include box_sizing;
}

.box {
  display: block;
  height: 600px;
  width: 800px;
  background-color: $pinky-white;
  opacity: 0.75;
  margin: 15% auto;
  border-style: solid;
  border-width: 3px;
  border-color: $basic_purple;
  border-radius: 10px;
}

.stretch_box {
  display: block;
  width: 800px;
  background-color: $pinky-white;
  opacity: 0.75;
  margin: 15% auto;
  border-style: solid;
  border-width: 3px;
  border-color: $basic_purple;
  border-radius: 10px;
}

.big_container {
  margin: 6.5%;
}

.left_box {
  display: inline-block;
  width: 50%;
}

.right_box {
  display: inline-block;
  float: right;
  width: 50%;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: $basic_purple !important;
    border-color: $dark-purple;
}

.btn-primary:hover {
  background-color: $medium_purple !important;
  border-color: $dark-purple;
}
