<% provide(:title, 'Home') %>
<div class="box">
  <div class="big_container">
    <h1>Welcome to Social Light!</h1>
    <h2>A Rails prototype events creator.</h2>
    <div class="big_container">
      <ul><h3>
        <li style="margin-top:2%;">Sign up (no email required) and log in</li>
        <li style="margin-top:2%;">Create events</li>
        <li style="margin-top:2%;">Invite other users to your events</li>
        <li style="margin-top:2%;">See what you are invited to</li>
        <li style="margin-top:2%;">View your events history</li>
      </h3></ul>
      <%= render 'shared/demo_message', size: 'p_small', link_on: true %>
    </div>
  </div>
</div>
