<div class="box">
  <div class="big_container">
    <h1>Welcome to Social Light!</h1>
    <h2>A Rails prototype events creator.</h2>
    <div class="big_container">
      <ul><h3>
        <li style="margin-top:2%;">Sign up (no email required) and log in</li>
        <li style="margin-top:2%;">Create events</li>
        <li style="margin-top:2%;">Invite other users to your events</li>
        <li style="margin-top:2%;">See what you are invited to</li>
        <li style="margin-top:2%;">View your invitation history</li>
      </h3></ul>
      <p style="margin-top:2%;">For demonstration purposes, all users are 'friends' with all other users. You can log in as any user (just use the correct name), or create a new user. Thus, you can confirm that ONLY the users you invite to an event receive an invitation to the event by logging in as any of the users you invited (and some you didn't, to check they are not invited).</p>
      <p style="text-align:right;">Simon Tharby, 2019</p>
    </div>
  </div>
</div>
